
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate ng-submit="vm.save()" #editForm="ngForm">
            <h2 id="jhi-file-heading">Create or edit a File</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!file.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="vm.file.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fileName">File Name</label>
                    <input type="text" class="form-control" name="fileName" id="field_fileName"
                           ng-model="vm.file.fileName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           ng-model="vm.file.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_departmentName">Department Name</label>
                    <input type="text" class="form-control" name="departmentName" id="field_departmentName"
                           ng-model="vm.file.departmentName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entryDate">Entry Date</label>
                    <div class="d-flex">
                        <input id="field_entryDate" type="datetime-local" class="form-control" name="entryDate" ng-model="vm.file.entryDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userEmail">User Email</label>
                    <input type="text" class="form-control" name="userEmail" id="field_userEmail"
                           ng-model="vm.file.userEmail" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tag">Tag</label>
                    <input type="text" class="form-control" name="tag" id="field_tag"
                           ng-model="vm.file.tag" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_Extension">Extension</label>
                    <input type="text" class="form-control" name="Extension" id="field_Extension"
                           ng-model="vm.file.extension"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="file">Upload a File</label>
                    <input type="file" class="form-control" name="file" id="file"
                           file-model="file"/>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
